<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/simple.css">
</head>
<body>
    <pre>
-----------------------------------------
--- fuck --------------------------------
-----------------------------------------
-------------------------- ucheck -------
------------------------------ 2022 ッ --
-----------------------------------------



sent automatically
            
- 6AM -
            
* * * <a href="https://github.com/nminh31/ucheck-autofill-discord-bot">source code</a> * * *
        
* * *
    </pre>
    <form action="">
    <input type="text" name="utorid" id="utorid" placeholder="utorid"><br>
<br>
    <input type="text" name="number" id="number" placeholder="phone"><br>
<br>
    <input type="password" name="password" id="password" placeholder="password"><br>
<br>

    <input type="submit" value="Submit">
    </form>


<pre style="text-align: left;">



    
    ▬▬▬.◙.▬▬▬
    ═▂▄▄▓▄▄▂ 
    ◢◤ █▀▀████▄▄▄▄◢◤ 
    █▄ █ █▄ ███▀▀▀▀▀▀▀╬ 
    ◥█████◤
    ══╩══╩═
    ╬═╬
    ╬═╬
    ╬═╬
    ╬═╬
    ╬═╬    ucheck
    ╬═╬
    ╬═╬    is no more
    ╬═╬ ☻/ 
    ╬═╬/▌ 
    ╬═╬/  \
</pre>

</body>
</html>