body {
    font-family: monospace;
    text-align: center;
    background-color: #BBCBCB;
    color: #634B66;
}

input {
    font-family: monospace;
    background-color: #BBCBCB;
    border: none;
    /* border-bottom: 2px solid #634B66; */
    text-align: center;
    color: purple;
}

input:hover {
    font-family: monospace;
    color: purple;
    font-style: italic;
    text-decoration: underline;
}

a {
    color: purple;
    text-decoration: none;
  }

